@font-face{
	font-family: 'Raleway';
	src: url('police/Raleway-Regular.ttf');
}

*{
	font-family: Raleway;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
}
body{
	margin: 0;
}

section{
	margin-right: 5%;
	margin-left: 5%;
}

header{
	display:flex;
	justify-content: space-between;
	margin-left: 5%;
	margin-right: 5%;
	height: 50px;
}
header div{
	display: flex;
	justify-content: space-between;
}
header div a{
	padding: 20px;
}


.logo img{
	margin-top: 20px;
	object-fit: cover;
	height: 30px;
	width: 95px;
}










.filter{
	display: flex;
	border: 1px solid #377ead;
	border-radius: 20px;
	padding: 10px;
	width: fit-content;
	
}
.filter img{
	background-color: #377ead;
	margin-right: 10px;
	height: 17px;
	width: 18px;
}









.result-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}



.housing-container{
	background-color: #F2F2F2;
	width: 69%;
	padding: 40px;
	border-radius: 20px;
}
.housing-container div {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-between;
}
.housing-container div a{
	
	background-color: #ffffff;
	width: 30%;
	height: 198px;
	margin-bottom: 30px;
	height: 200px;
	border-radius: 20px;
	box-shadow:2px 2px 30px rgb(168, 168, 168);
}
.housing-container div a img{
	object-fit: cover;
	width: 100%;
	height: 65%;
	padding: 5px;
	border-radius: 20px 20px 0px 0px;
}
.housing-container div a p{
	margin: 0%;
	padding-left: 5px;
}




.hot-container{
	background-color: #F2F2F2;
	width: 29%;
	padding: 40px;
	border-radius: 20px;
}
.hot-container div{
	display: flex;
	flex-wrap: wrap;

}
.hot-container div a{
	height: 144px;
	background-color: #ffffff;
	margin-bottom: 30px;
	border-radius: 20px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	box-shadow:2px 2px 30px rgb(168, 168, 168);
}
.hot-container div a img{
	object-fit: cover;
	width: 30%;
	height: 100%;
	padding: 5px;
	border-radius: 20px 0px 0px 20px;
}
.hot-containerdiv a p{
	margin: 0%;
	padding: 0%;
}


.activity-container{
	background-color: red;
}
.activity-container div{
	display: flex;
	flex-wrap: wrap;
	
	background-color: rgb(146, 71, 71);
}

.long{
	height: 100%;
	background-color: chartreuse;

}
.activity-container div a{
	border-radius: 20px;
	height: 50%;
	width: 25%;
	background-color: royalblue;
}



.activity-container div a img{
	object-fit: cover;
	height: 98%;
	width: 100%;
	border-radius: 20px 20px 0px 0px;
}

.nom{
	font-weight: bold;
	color: black;
}
.prix{
	color: black;
}




footer{
	padding: 0 5%;
	display: flex;
	justify-content:space-between;
	height: 220px;
	background-color: #F2F2F2;
}