@font-face {
  font-family: "Raleway";
  src: url("police/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("police/Raleway-Bold.ttf");
  font-weight: bold;
}

* {
  font-family: Raleway;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
body {
  margin: 0;
}
p {
  margin: 0;
}
section {
  margin: 50px;
  margin-top: 0%;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 0px 50px;
  height: 100px;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav a {
  margin: 0px 20px;
  padding-top: 40px;
  box-sizing: content-box;
  border-top: 2px solid transparent;
}
.nav_1 {
  transition: 0.3s;
  color: black;
}
.nav_2 {
  color: #0065fc;
}
header .nav_1:hover {
  border-top: 2px solid #0065fc;
  color: #0065fc;
}

.logo {
  align-self: flex-end;
}
.logo img {
  max-height: 50px;
}

/* La recherche */

.search {
  display: flex;
  padding: 20px;
  padding-left: initial;
}

.search input[type="search"] {
  border: 1px solid #f2f2f2;
  border-right-color: #ffffff;
  font-weight: bold;
  padding-left: 10px;
  outline: none;
}
.search button {
  outline: none;
  border: none;
  border-radius: 0px 15px 15px 0px;
  background-color: #0065fc;
  color: white;
  font-weight: bold;
}
.search i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  height: 50px;
  width: 50px;
  border: 1px solid #f2f2f2;
  border-radius: 20px 0px 0px 20px;
}

/* Les filtres */

.filter-container {
  font-weight: bold;
  display: flex;
}
.filter {
  margin: 20px;
  display: flex;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  border-left: none;
  transition: 0.3s 0.3s;
}
.filter i {
  color: #0065fc;
  margin: auto;
  transition: 0.5s;
}

.circle {
  display: flex;
  margin: -2px;
  background-color: #deebff;
  border-radius: 30px;
  height: 40px;
  width: 40px;
  transition: border 0.5s, transform 0.5s 0.3s;
}

.filter-container p {
  align-self: center;
}
.filter p {
  padding: 0px 10px;
  transition: padding 0.8s 0.3s, color 1s;
}

.filter:hover i {
  color: black;
}
.filter:hover .circle {
  transform: scale(1.2);
  border: 2px solid #f2f2f2;
}
.filter:hover p {
  padding: 0px 25px;
  color: #0065fc;
}
.filter:hover {
  background-color: #f2f2f2;
  background-size: 20px;
  border: 2px solid #f2f2f2;
}

.info {
  display: flex;
  margin-top: 20px;
}
.info div {
  border: 1px solid #f2f2f2;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 10px;
  border-radius: 10px;
}
.info i {
  font-size: 14px;
  color: blue;
  text-align: end;
}

.result-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.result-section h1 {
  display: inline-block;
  margin: 0%;
  margin-bottom: 40px;
}

/* Hébergement a Marseille */

.housing-container {
  background-color: #f2f2f2;
  width: 65%;
  padding: 40px;
  border-radius: 20px;
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 80%;
}

.result a {
  overflow: hidden;
  background-color: #ffffff;
  width: 31%;
  height: 200px;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgb(168, 168, 168);
}

.result img {
  object-fit: cover;
  width: 100%;
  height: 65%;
  padding: 5px;
  border-radius: 20px 20px 0px 0px;
  transition: cubic-bezier(0.81, 0.15, 0.21, 0.88) 1s 0.5s;
}

.result a:hover img {
  height: 80%;
  border-radius: 20px;
}
.result a:hover .info-house {
  margin-top: 5px;
}
.result a:hover .prix {
  margin-left: 20px;
  opacity: 0;
}
.result a:hover .euro {
  opacity: 1;
  margin-right: 10px;
}

.info-house {
  object-fit: cover;
  width: 100%;
  margin: 0px 5px;
  transition: cubic-bezier(0.81, 0.15, 0.21, 0.88) 1s 0.5s;
}

.nom {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: black;
}
.euro {
  opacity: 0;
  font-weight: normal;
  font-style: normal;
  margin-right: 20px;

  transition: 0.5s 1s;
}
.prix {
  color: black;
  transition: 0.5s 0.2s;
}
.star {
  display: flex;
}

.more {
  margin-top: 40px;
  font-weight: bold;
  font-size: 18px;
}

/* Les plus populaires */

.popular-container {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  width: 33%;
  padding: 40px;
  border-radius: 20px;
}
.popular {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 90%;
}
.popular a {
  height: 140px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-flow: wrap column;
  box-shadow: 2px 2px 30px rgb(168, 168, 168);
  overflow: hidden;
}
.popular a img {
  object-fit: cover;
  width: 40%;
  height: 100%;
  padding: 5px;
  border-radius: 20px 0px 0px 20px;
}
.info-popular {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin: 10px;
}
.info-popular .star {
  align-content: flex-end;
}

/* Activités à marseille */

.activity-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 500px;
}

.activity-container a:first-child {
  height: 100%;
}

.activity-container a:nth-child(2) {
  height: 270px;
}

.activity-container a:nth-child(3) {
  height: 180px;
}

.activity-container a:nth-child(4) {
  height: 100%;
}

.activity-container a:nth-child(5) {
  height: 200px;
}

.activity-container a:nth-child(6) {
  height: 250px;
}

.activity-container a {
  display: flex;
  flex-direction: column;
  width: 22%;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgb(168, 168, 168);
}
.activity-container img {
  flex-grow: 1;
  height: 50%;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.activity-container p {
  margin: 0%;
  padding: 15px;
  height: 50px;
}

footer {
  margin-top: 20px;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  height: 220px;
  background-color: #f2f2f2;
}
ul {
  padding-inline-start: 0;
}

li {
  padding: 10px 0px;
}
li a {
  color: black;
  transition: 0.2s;
}

li a:hover {
  color: #0065fc;
}




