@font-face {
  font-family: "Raleway";
  src: url("police/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("police/Raleway-Bold.ttf");
  font-weight: bold;
}

* {
  font-family: Raleway;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
body {
  margin: 0;
}

p {
  margin: 0;
}

section {
  margin: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  height: 50px;
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav a {
  padding: 20px;
}

.logo img {
  margin-top: 20px;
  object-fit: cover;
  height: 30px;
  width: 95px;
}

/* La recherche */

.search {
  display: flex;
  padding: 20px;
  padding-left: initial;
}
.search img {
  height: 50px;
  width: 50px;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 15px 0px 0px 15px;
  border: 1px solid #f2f2f2;
}
.search input[type="search"] {
  border: 1px solid #f2f2f2;
  border-right-color: #ffffff;
  font-weight: bold;
  padding-left: 10px;
  outline: none;
}
.search button {
  outline: none;
  border: none;
  border-radius: 0px 15px 15px 0px;
  background-color: #0065fc;
  color: white;
  font-weight: bold;
}

/* Les filtres */

.filter-container {
  font-weight: bold;
  display: flex;
  align-content: center;
}
.filter-container p {
  align-self: center;
}
.all_filter {
  display: flex;
}
.filter {
  height: 40px;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  margin: 0px 10px;
  border: 2px solid red;
  border-left: none;
  border-radius: 25px;
}

.filter p {
  margin: 5px;
}
.circle {
  display: flex;
  height: 45px;
  width: 45px;
  background-color: rgb(98, 98, 221);
  border-radius: 30px;
}
.circle i {
  color: #0065fc;
  margin: auto;
}






.info {
  display: flex;
  margin-top: 20px;
}
.info div {
  border: 1px solid #f2f2f2;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 10px;
  border-radius: 10px;
}
.info i {
  font-size: 14px;
  color: blue;
  text-align: end;
}

/* Hébergement a Marseille */

.result-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.housing-container {
  background-color: #f2f2f2;
  width: 60%;
  height: 80vh;
  padding: 20px;
  border-radius: 20px;
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 80%;
  /* background-color: rgb(147, 122, 170); */
}

.result a {
  background-color: #ffffff;
  width: 31%;
  height: 47%;
  border-radius: 20px;
  box-shadow: 2px 2px 30px rgb(168, 168, 168);
}

.result img {
  object-fit: cover;
  width: 100%;
  height: 65%;
  padding: 5px;
  border-radius: 20px 20px 0px 0px;
}
.star {
  margin: 5px;
}
.star i {
  margin: 0;
}
.star F {
  color: black;
}
.nom {
  font-weight: bold;
  color: black;
  margin: 5px;
}
.prix {
  color: black;
  margin: 5px;
}

.more {
  margin-top: 40px;
  font-weight: bold;
  font-size: 18px;
}

/* Les plus populaires */

.hot-container {
  background-color: #f2f2f2;
  width: 29%;
  padding: 40px;
  border-radius: 20px;
}
.hot-container div {
  display: flex;
  flex-wrap: wrap;
}
.hot-container div a {
  height: 144px;
  background-color: #ffffff;
  margin-bottom: 30px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 2px 2px 30px rgb(168, 168, 168);
}
.hot-container div a img {
  object-fit: cover;
  width: 30%;
  height: 100%;
  padding: 5px;
  border-radius: 20px 0px 0px 20px;
}
.hot-containerdiv a p {
  margin: 0%;
  padding: 0%;
}

/* Activités à marseille */

.activity-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgb(66, 107, 95);
  justify-content: space-between;
  align-content: space-between;
  height: 70vh;
}
.activity-container :first-child {
  height: 100%;
}
.activity-container :first-child img {
  height: 90%;
}
.activity-container :nth-child(2) {
  height: 55%;
}
.activity-container :nth-child(2) img {
  height: 90%;
}
.activity-container :nth-child(3) {
  height: 45%;
}
.activity-container :nth-child(3) img {
  height: 90%;
}
.activity-container :nth-child(4) {
  height: 100%;
}
.activity-container :nth-child(4) img {
  height: 90%;
}
.activity-container :nth-child(5) {
  height: 50%;
}
.activity-container :nth-child(5) img {
  height: 90%;
}
.activity-container :nth-child(6) {
  height: 50%;
}
.activity-container :nth-child(6) img {
  height: 90%;
}

.activity-container a {
  background-color: rgb(119, 51, 146);
  border: 1px solid black;
  width: 20%;
}
.activity-container img {
  width: 100%;
  object-fit: cover;
}

footer {
  margin-top: 20px;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  height: 220px;
  background-color: #f2f2f2;
}
