*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.filter-container{
    display: flex;
}
.filter{
    margin: 20px;
    display: flex;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    border-left: none;
    transition: .3s .05s;
    
}
.circle{
    display: flex;
    margin: -2px;
    background-color: #DEEBFF;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    transition: transform .3s;
}

i{
    margin: auto;
}

p{
    align-self: center;
    padding: 0px 10px;
    transition: .8s;
}


.filter:hover .circle{
    transform: scale(1.2);
    border: 2px solid #f2f2f2;
}

.filter:hover p{
    padding: 0px 25px;
    color: #0065fc;
}
.filter:hover{
    background-color: #F2F2F2 ;
    background-size: 20px;
    border: 2px solid #F2F2F2;
}

